<!--底部选项卡-->
<div data-v-cb6b4808="" class="nav">
    <a data-v-cb6b4808="" href="/wechat/index/index" class="tab-item">
        <span data-v-cb6b4808="" class="icon-home active"></span>
        <span data-v-cb6b4808="" class="tab-link active">首页</span>
    </a>
    <a data-v-cb6b4808="" href="/wechat/zcb/index" class="tab-item">
        <span data-v-cb6b4808="" class="icon-save"></span>
        <span data-v-cb6b4808="" class="tab-link">职场保</span>
    </a>
    <a data-v-cb6b4808="" href="/wechat/user/index" class="tab-item router-link-exact-active router-link-active">
        <span data-v-cb6b4808="" class="icon-my"></span>
        <span data-v-cb6b4808="" class="tab-link">我的</span>
    </a>
</div>