<!--底部选项卡-->
<div data-v-cb6b4808="" class="nav">
    <a data-v-cb6b4808="" href="/wechat/index/index" class="tab-item">
        <span data-v-cb6b4808="" class="icon-home {eq name='menu' value='index'}active{/eq}"></span>
        <span data-v-cb6b4808="" class="tab-link {eq name='menu' value='index'}active{/eq}">首页</span>
    </a>
    <a data-v-cb6b4808="" href="/wechat/zcb/index" class="tab-item">
        <span data-v-cb6b4808="" class="icon-save {eq name='menu' value='zcb'}active{/eq}"></span>
        <span data-v-cb6b4808="" class="tab-link" {eq name='menu' value='zcb'}active{/eq}>职场保</span>
    </a>
    <a data-v-cb6b4808="" href="/wechat/user/index" class="tab-item router-link-exact-active router-link-active">
        <span data-v-cb6b4808="" class="icon-my {eq name='menu' value='user'}active{/eq}"></span>
        <span data-v-cb6b4808="" class="tab-link {eq name='menu' value='user'}active{/eq}">我的</span>
    </a>
</div>