<ul class="zcb-tab-footer">
    <li class="zcb-footer-home footer-item {eq name='menu' value='index'}zcb-footer-active{/eq}">
        <a href="/wechat/index/index">
            <span class="zcb-footer-home-icon"></span>
            <span class="zcb-footer-home-title">首页</span>
        </a>
    </li>
    <li class="zcb-footer-zcb footer-item {eq name='menu' value='zcb'}zcb-footer-active{/eq}">
        <a href="/wechat/zcb/index">
            <span class="zcb-footer-zcb-icon"></span>
            <span class="zcb-footer-zcb-title">职场保</span>
        </a>
    </li>
    <li class="zcb-footer-user footer-item {eq name='menu' value='user'}zcb-footer-active{/eq}">
        <a href="/wechat/user/index">
            <span class="zcb-footer-me-user"></span>
            <span class="zcb-footer-home-user">我的</span>
        </a>
    </li>
</ul>