<!DOCTYPE html>
<html>

<head>
    {include file="common/meta" /}
</head>

<body>
<div id="app">
    <div data-v-cb6b4808="" class="ucenter-index">
        <ul data-v-cb6b4808="" class="ucenter-table-view-media">
            <li data-v-cb6b4808="" class="ucenter-table-view-cell">
                <img data-v-cb6b4808="" id="head-img" width="50" height="50" class="ucenter-avatar" src="">
                <div data-v-cb6b4808="" class="ucenter-media-body">
                    <p data-v-cb6b4808="" class="ucenter-ellipsis"></p>
                </div>
            </li>
        </ul>
        <ul data-v-cb6b4808="" class="ucenter-table-view">
            <li data-v-cb6b4808="" class="ucenter-table-view-li table-padding">
                <a data-v-cb6b4808="" href="/wechat/user/getGuarantee/{$Think.session.user_id}" class="ucenter-table-view-item me-guarantee">
                    <i data-v-cb6b4808="" class="safing"></i>会员权益到期了
                </a>
            </li>
        </ul>
        <ul data-v-cb6b4808="" class="ucenter-table-view">
            <li data-v-cb6b4808="" class="ucenter-table-view-li table-padding">
                <a data-v-cb6b4808="" href="/wechat/evidence/index/uid/{$Think.session.user_id}" class="ucenter-table-view-item">
                    <i data-v-cb6b4808="" class="record-icon"></i>维权记录
                </a>
            </li>
            <li data-v-cb6b4808="" class="ucenter-table-view-li table-padding">
                <a data-v-cb6b4808="" href="/wechat/evidence/add" class="ucenter-table-view-item">
                    <i data-v-cb6b4808="" class="record-icon"></i>我要维权
                </a>
            </li>
            <!--<li data-v-cb6b4808="" class="ucenter-table-view-li table-padding">-->
                <!--<a data-v-cb6b4808="" href="notices.html" class="ucenter-table-view-item">-->
                    <!--<i data-v-cb6b4808="" class="notice-icon"></i>消息-->
                <!--</a>-->
            <!--</li>-->
        </ul>
        <ul data-v-cb6b4808="" class="ucenter-table-view">
            <li data-v-cb6b4808="" class="ucenter-table-view-li table-padding">
                <a data-v-cb6b4808="" href="/wechat/user/feedback" class="ucenter-table-view-item">
                    <i data-v-cb6b4808="" class="feedback-icon"></i>反馈问题
                </a>
            </li>
        </ul>

        {include file="common/menu" /}
    </div>
</div>
{include file="common/footer" /}
<script type="text/javascript">
    var user_id = {$Think.session.user_id};
    //头像,用户名Ajax
    function userAjax() {
        $.ajax({
            url: '/wechat/user/getAjaxUserInfo',
            type: 'POST', //GET
            async: true, //或false,是否异步
            data: {uid:user_id},
            timeout: 5000, //超时时间
            dataType: 'json', //返回的数据格式：json/xml/html/script/jsonp/text
            success: function(data) {
                if(data.code == "1") {
                    $("#head-img").attr("src",data.avatar);
                    $(".ucenter-media-body").html(data.nickname+'<p data-v-cb6b4808="" class="ucenter-ellipsis"></p>');

                    //需要一个字段判断会员是否过期，未过期动态显示"会员权益保障中"
                    if(data.guarantee) {
                        $(".me-guarantee").html('<i data-v-cb6b4808="" class="safing"></i>会员权益保障中');
                    }

                }
            },
            error: function(xhr, textStatus) {
                console.log(textStatus);
            }
        });
    }

    userAjax();

    $(".ucenter-table-view-media").click(function(){
        $(location).attr('href', '/wechat/user/user_edit/uid/{$Think.session.user_id}');
    });
</script>
</body>

</html>