<!DOCTYPE html>
<html>
<head>
    {include file="common/meta" /}
</head>
<body>
{include file="common/menu" /}
<!--我的订单-->
<div class="user-order">
    <div class="order-title-wrapper">
        <img class="order-icon" src="/assets/img/wechat/icon-user-order@2x.png"/>
        <span class="order-title">我的订单</span>
    </div>
    <ul class="user-order-list">
        <li class="user-order-item"><a href="#">
            <img src="/assets/img/wechat/icon-paid@2x.png"/>
            <p>已支付</p>
        </a></li>
        <li class="user-order-item"><a href="#">
            <img src="/assets/img/wechat/icon-unpaid@2x.png"/>
            <p>待支付</p>
        </a></li>
        <li class="user-order-item"><a href="#">
            <img src="/assets/img/wechat/icon-refunding@2x.png"/>
            <p>退款中</p>
        </a></li>
        <li class="user-order-item"><a href="#">
            <img src="/assets/img/wechat/icon-refunded@2x.png"/>
            <p>已退款</p>
        </a></li>
    </ul>
</div>

<div class="zcb-wrapper">

    <!--头部-->
    <div class="user-header">
        <div class="buy-VIP-btn"><a href="/wechat/vip/index">开通会员</a></div>
        <span class="user-avatar"><img src="/assets/img/wechat/avatar@2x.png"/></span>
        <p class="user-name">职场保</p>
        <p class="user-membership-wrapper">[<span class="user-membership">普通用户</span>]</p>
    </div>

    <!--会员状态及维权记录-->
    <ul class="safeguard-wrapper">
        <li class="safeguard-status"><a class="user-membership-link" href="#">
            <span class="safeguard-status-icon"><img src="/assets/img/wechat/icon-user-vip@2x.png"/></span>
            <span class="safeguard-status-title">会员权益保障中</span>
            <span class="safeguard-more"><img src="/assets/img/wechat/more-btn.png"/></span>
        </a></li>
        <li class="safeguard-record"><a href="/wechat/evidence/index/uid/{$Think.session.user_id}">
            <span class="safeguard-record-icon"><img src="/assets/img/wechat/icon-user-records@2x.png" alt="" /></span>
            <span class="safeguard-record-title">维权记录</span>
            <span class="safeguard-more"><img src="/assets/img/wechat/more-btn.png"/></span>
        </a></li>
    </ul>

    <!--我要维权-->
    <div class="safeguard-rights"><a href="/wechat/evidence/add">
        <span class="safeguard-rights-icon"><img src="/assets/img/wechat/icon-user-auncel@2x.png"/></span>
        <span class="safeguard-rights-title">我要维权</span>
        <span class="safeguard-more"><img src="/assets/img/wechat/more-btn.png"/></span>
    </a></div>

    <!--意见反馈-->
    <div class="user-feedback"><a href="/wechat/user/feedback">
        <span class="user-feedback-icon"><img src="/assets/img/wechat/icon-user-dialog@2x.png"/></span>
        <span class="user-feedback-title">意见反馈</span>
        <span class="safeguard-more"><img src="/assets/img/wechat/more-btn.png"/></span>
    </a></div>

</div>
{include file="common/footer" /}
<script type="text/javascript">
    var user_id = {$Think.session.user_id};
    function userAjax() {
        $.ajax({
            url:'/wechat/user/getAjaxUserInfo',
            type:'POST',
            async:true,    //或false,是否异步
            data:{uid:user_id},
            timeout:5000,    //超时时间
            success:function(data){
                if(data.code == "1") {
                    $(".user-avatar").html('<img src="'+ data.avatar +'"/>');
                    $(".user-name").html(data.nickname);
                    $(".user-membership").html(data.vip.vip_name);

                    //『会员权益保障中』点击根据会员等级不同进入不同界面
                    if(data.vip.vid == "0") {
                        $(".user-membership-link").attr("href", "/wechat/vip/vip_type/vid/0");
                    } else if(data.vip.vid == "1") {
                        $(".user-membership-link").attr("href", "/wechat/vip/vip_type/vid/1");
                    } else if(data.vip.vid == "2") {
                        $(".user-membership-link").attr("href", "/wechat/vip/vip_type/vid/2");
                    } else if(data.vip.vid == "3") {
                        $(".user-membership-link").attr("href", "/wechat/vip/vip_type/vid/3");
                    }
                }
            },
            error:function(xhr,textStatus){
                console.log(textStatus)
            }
        })
    }

    userAjax();
</script>
</body>
</html>
