.wangjidiv{
	width: 100%;
	padding-left: 35%;
	padding-bottom: 266px;
}
.wangji_p{
	padding-top:78px;
	padding-left: 30%;
	font-size: 28px;
}
.newbtn{
	width: 360px;
	height: 46px;
	border:1px solid #858585;
	border-radius: 5px;
	font-size: 16px;
	padding-left: 10px;
	margin-top: 35px;
}
.queren{
	background: #f71f43;
	width: 360px;
	height: 46px;
	border: 1px solid #f71f43;
	color: #fff;
	border-radius: 5px;
	font-size: 16px;
	padding-left: 10px;
	margin-top: 40px;

}
.zhaohui{
	padding-left: 35%;
	margin-top: 30px;
	width: 100%;
}
.zhaohui span{
	color: #999999;
	
	font-size: 20px;
}
.zhaohui a{
	color: #f97182;
	font-size: 18px;
	margin-left: 10%;
}
#sendyzm{
	width: 140px;
	height: 46px;
	border: 2px solid #e50039;
	background: #e50039;
	color: #fff;
	font-size: 20px;
	border-radius: 5px;
	margin-top: 35px;
	margin-left: 4.5%;
}
.newyzm{
	width: 188px;
	height: 46px;
	margin-top: 30px;
	border: 1px solid #858585;
	font-size: 16px;
	padding-left: 10px;
	border-radius: 5px;
}
.mima_gai {
	background: #e50039 none repeat scroll 0 0;
	border: 1px solid #e50039;
	border-radius: 5px;
	color: #fff;
	font-size: 18px;
	height: 42px;
	margin-left: 103px;
	margin-top: 55px;
	width: 175px;
}
