<!DOCTYPE html>
<html lang="en" class="js cssanimations">
<link rel="alternate icon" type="/favicon.png" href="/favicon.png">
<head>
    {include file="common/meta" /}

</head>
<body>
<div id="app" v-cloak>
    {include file="common/header" /}
    <div class="banner_img">
    <img src="__CDN__/assets/img/index/14.png">
</div>
<!-- 中间开始 -->
<div class="am-g-fixed  zcb-main main-wrap">
    <div class="about-us am-u-sm-centered">
        <div class="am-g about company-intro">
            <div class="am-u-sm-12">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;职场保，是一家面向职场个人，处理劳动过程中涉及法律相关纠纷的会员制平台。服务包括劳动法相关事宜实时在线咨询，协助进行调查取证、协助进行劳动纠纷的谈判与协商，代发律师函、代理劳动纠纷案件开庭诉讼，为平台会员提供就业岗位等。
                作为国内首家专注于解决劳动法律纠纷的互联网平台，职场保拥有一批有丰富劳动纠纷案件解决经验的律师，结合先进的互联网技术，为劳动者提供一站式劳动纠纷解决方案，给职场人的职场保驾护航。
            </div>
        </div>
        <div class="us-history"></div>
    </div>
</div>
<!-- 中间结束 -->
    {include file="common/footer" /}