<!DOCTYPE html>
<html lang="en" class="js cssanimations">
<link rel="alternate icon" type="/favicon.png" href="/favicon.png">
<head>
    <meta content="webkit" name="renderer"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8"/>
    <meta name="Keywords" content="代发律师函">
    <meta name="Description" content="代发律师函">
    <title>代发律师函-职场保</title>
    <link rel="stylesheet" href="css/shezhi.css?v=4">
<link rel="stylesheet" href="css/amazeui.min.css">
<link rel="stylesheet" href="css/amazeui.page.css">
<link rel="stylesheet" href="css/amazeui.address.min.css">
<link rel="stylesheet" href="css/app.css">
<link rel="stylesheet" href="css/animate.min.css">
<link rel="stylesheet" href="css/rl-less.css">
<link rel="stylesheet" href="css/icon.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/center.css">
<link rel="stylesheet" type="text/css" href="css/wangjimima.css">
<link rel="stylesheet" type="text/css" href="css/weiquan.css">
<link rel="stylesheet" href="css/style2.css">
<link rel="stylesheet" href="css/pagelist.css">
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/articles.css">

</head>
<body>
<div id="app" v-cloak>
    <header class="am-topbar am-topbar-inverse">
	<div class="amz-container">
		<h1 class="am-topbar-brand">
			<a href="" class="am-topbar-logo">
				<img src="img/logo.png" alt="">
			</a>
		</h1>
		<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: &#39;#doc-topbar-collapse-5&#39;}">
            <span class="am-sr-only">
                导航切换
            </span>
			<span class="am-icon-bars">
            </span>
		</button>
		<div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse-5">
			<ul class="am-nav am-nav-pills am-topbar-nav">
				<li :class="currentLink === index ? 'am-active' : ''" v-for="(item, index) in navs">
					<a :href="item.urls" target="_blank" :class="currentLink === index ? 'nav-active' : ''">
						{{item.names}}
					</a>
				</li>
			</ul>
			<div class="am-topbar-right top-login-area">
				<div id="login-area">
					<div class="no-login-pc-entry">
						<ul class="am-nav am-nav-pills am-topbar-nav">
							<span style="margin-top: 30px;" v-if="UserInfo.user_nickname">
								<span style="color: #000000;">欢迎{{UserInfo.user_nickname}}</span>
								<a href="/uindex.html" target="_blank">会员中心</a>
								<a href="/" @click.stop="loginout" target="_blank">退出</a>
							</span>
							<span v-else>
								<a href="/" target="_blank">请先登录</a>
							</span>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
    <!-- 中间开始 -->
    <div class="banner_img">
        <img src="img/14.png">
    </div>
    <!-- 切换 -->
    <div class="wrap">
        <div class="yd-timeline demo-small-pitch">
    <ul class="yd-timeline-content">
        <li class="yd-timeline-item" v-for="(item, index) in leftnavs">
            <em class="yd-timeline-icon" :class="leftCurrentLink === index ? 'active' : ''"></em>
            <p :class="leftCurrentLink === index ? 'text-active' : ''">
                <a :href="item.urls">{{item.names}}</a>
            </p>
        </li>
    </ul>
</div>
        <div class="divs">
            <div class="div5" v-show="!isApply">
                <div class="div5_div">
                    <div>
                        <span>申请人：</span><input type="text" v-model="applyfor.name" placeholder="请输入申请人姓名">
                    </div>
                    <div>
                        <span>发送公司：</span><input type="text" v-model="applyfor.company" placeholder="请输入公司名称">
                    </div>
                    <div>
                        <span>劳动合同签订时间：</span><input type="text" v-model="applyfor.contract_begin_time" placeholder="请输入时间">
                    </div>
                    <div>
                        <span>签订期限：</span><input type="text" v-model="applyfor.contract_limit" placeholder="请输入年限"><span>&nbsp;&nbsp;&nbsp;&nbsp;年</span>
                    </div>
                    <div>
                        <span>二次签订时间：</span><input type="text" v-model="applyfor.second_begin_time" placeholder="请输入时间">
                    </div>
                    <div>
                        <span>签订期限：</span><input type="text" v-model="applyfor.second_limit" placeholder="请输入年限"><span>&nbsp;&nbsp;&nbsp;&nbsp;年</span>
                    </div>
                    <p class="biaotou">情况描述</p>
                    <textarea class="miaoshu1" v-model="applyfor.description" id="description"></textarea>
                    <p class="biaotou">情况要求</p>
                    <textarea class="miaoshu1" v-model="applyfor.ask" id="requirements"></textarea>
                    <div class="youji">
                        <p class="biaotou">邮寄（公司）地址</p>
                        <textarea class="dizhi" v-model="applyfor.mail_address" id="companyaddress"></textarea>
                    </div>
                    <button class="issuingbtn" @click.stop="applySubmit">确认申请</button>
                </div>
            </div>
            <div class="countdown" v-show="isApply">
                <h1>辅助倒计时</h1>
                <div class="timer">{{newApply.rest | getdays}}天&nbsp;&nbsp;:&nbsp;&nbsp;{{newApply.rest | getHour}}小时</div>
                <div class="timer_btn"><span @click.stop="setAgentStatus(1)" class="rights-success">维权成功</span><span @click.stop="setAgentStatus(2)" class="rights-error">维权失败</span></div>
            </div>
        </div>
    </div>

    <!-- 中间结束 -->
    <footer class="am_footer x-footer am-margin-top-sm">
    <div class="am-g footer-info">
        <div class="am-u-md-6 meta">
            <p class="phone">
                <span><i class="am-icon-phone"></i> 400-895-1551</span><br><br>
                <span>客服热线工作时间： 9:00-19:00（周一到周五）</span><br>
            </p>
            <p class="phone">
                <span>QQ群：581504114</span><br><br>
                <span>公司地址:北京市望京利泽东园308博泰嘉华大厦</span><br>
            </p>
        </div>
        <div class="am-u-md-6 qrcode">
            <div style="width:40%;float:left;height:80px;">
                <img src="img/zcbwx.jpg">
                <h4>微信公众号</h4>
            </div>
            <div style="width:40%;float:left;height:80px;">
                <img src="img/dingyue.jpg">
                <h4>微信订阅号</h4>
            </div>
        </div>
    </div>
    <div class="am-g">
        <div class="am-u-md-12 copyright">
            ©2017 职场保 All rights reserved | 北京中天汇才科技有限公司 | 京ICP备17044141号
        </div>
    </div>
</footer>
</div>
<script>
    (function(){
        var c=document.createElement("script"),s=document.getElementsByTagName("script")[0];
        c.src="//kefu.qycn.com/vclient/state.php?webid=129369";
        s.parentNode.insertBefore(c,s);
    })();
</script>

</body>
</html>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/vue-resource.min.js"></script>
<script>
    const configUrl = 'http://wx.zhichangbb.com/api/'
    new Vue({
        el: '#app',
        data: {
            navs: [{
                names: '首页',
                urls: 'index.html'
            }, {
                names: '职场保',
                urls: 'articlelist.html'
            }, {
                names: '我要维权',
                urls: 'consult.html'
            }, {
                names: '关于我们',
                urls: 'about.html'
            }, {
                names: '成为会员',
                urls: 'member.html'
            }],
            leftnavs: [{
                names: '我要咨询',
                urls: 'consult.html',
                dicons: 'img/zixun1.png',
                hicons: 'img/zixun10.png'
            }, {
                names: '收集证据',
                urls: 'evidence.html',
                dicons: 'img/zixun2.png',
                hicons: 'img/zixun7.png'
            }, {
                names: '辅助和解',
                urls: 'compromise.html',
                dicons: 'img/zixun3.png',
                hicons: 'img/zixun8.png'
            }, {
                names: '代发律师函',
                urls: 'lawyerletter.html',
                dicons: 'img/zixun4.png',
                hicons: 'img/zixun6.png'
            }, {
                names: '申请仲裁',
                urls: 'arbitration.html',
                dicons: 'img/zixun5.png',
                hicons: 'img/zixun9.png'
            }],
            userPath: ['uindex.html', 'ucase.html', 'ucert.html', 'uinfo.html', 'uorder.html'],
            currentLink: 0,
            leftCurrentLink: 0,
            searchArr: [],
            keyword: '',
            evidenceType: ['拖欠工资', '劳动纠纷', '五险一金', '加班休假', '产假婚假', '岗位调动', '辞退开除', '绩效工资', '其他'],
            rightstatus: [{id: 1, names: '取证单'}, {id: 2, names: '辅助申请'}, {id: 3, names: '等待辅助回复'}, {
                id: 4,
                names: '代发律师函'
            }, {id: 5, names: '等待代发回复'}, {id: 6, names: '申请仲裁'}, {id: 7, names: '等待仲裁回复'}, {id: 8, names: '结束'}],
            rights_id: '',
            lockSubmit: true,
            rightevidence: {
                rights_id: '',
                company: '',
                company_address: '',
                contact: '',
                contact_phone: '',
                job_address: '',
                job_post: '',
                join_time: '',
                is_shu_mian_he_tong: null,
                email: '',
                job_name: '',
                age: '',
                sex: '',
                hu_kou_xing_zhi: '',
                rights_type: '',
                rights_money: '',
                description: '',
                ask: '',
            },
            assistemail: '',
            applyfor: {
                applyId: '',
                name: '',
                company: '',
                contract_begin_time: '',
                contract_limit: '',
                second_begin_time: '',
                second_limit: '',
                mail_address: '',
                description: '',
                ask: '',
            },
            showTel: false,
            myRights: [],
            rights: {},
            UserInfo: {},
            mobile: '',
            isAssist: false,
            newRights: {},
            isApply: false,
            isArbitration: false,
            newApply: {},
            newArbitration: {},
            isShowFeedback: false,
            arbitrate_description: '',
            isLogin: true,
            searchSecArr: [],
            lawyerdetail: {},
            title: '',
            content: '',
            create_time: ''
        },
        created: function () {
            var currentUrl = this._pathUrl()
            this._pathLeftUrl()
            // 获取单个用户信息
            // 判断是否在用户中心内部
            if (this._pathUser()) {
                if (!this._hasSession()) {
                    location.href = '/'
                }
            }
            this._router(currentUrl)
        },
        filters: {
            getdays: function (d) {
                return d <= 0 ? 0 : parseInt(d / 24)
            },
            getHour: function (h) {
                if (h <= 0) {
                    return 0
                } else {
                    var num = h % 24
                    var bb = num.toString().replace(/\d+\.(\d*)/, '$1')
                    return bb.substring(0, 1)
                }
            }
        },
        methods: {
            _router: function (currentUrl) {
                if (this._matchUrl('uid') && this._matchUrl('uid') !== null) {
                    sessionStorage.setItem('user_id', this._matchUrl('uid'))
                }
                if (sessionStorage.getItem('user_id') && this._matchUrl('uid') !== null) {
                    this.isLogin = false
                }
                this._getUserInfo()
                if (currentUrl === 'ucase.html') {
                    this._hasLogin()
                    this._getMyRights()
                }
                if (currentUrl === 'udetail.html') {
                    this._getRightsById()
                    this._getUserInfo()
                }
                if (currentUrl === 'evidence.html') {
                    this._hasLogin()
                    this._stepTo()
                    var rights_id = localStorage.getItem('rights_id')
                    this._ajaxRights(rights_id)
                }
                if (currentUrl === 'compromise.html') {
                    this._hasLogin()
                    this._isStatus()
                    var email = localStorage.getItem('rights_email')
                    if (!this._getCurrentRightsId()) {
                        location.href = '/evidence.html'
                    }
                    if (email) {
                        this.assistemail = email
                    }
                }
                if (currentUrl === 'lawyerletter.html') {
                    this._hasLogin()
                    this._isStatus()
                    if (!this._getCurrentRightsId()) {
                        location.href = '/evidence.html'
                    }
                    this._fullApplyfor()
                }
                if (currentUrl === 'articlelists.html') {
                    this._searchSecList()
                }
                if (currentUrl === 'arbitration.html') {
                    this._isStatus()
                    if (!this._getCurrentRightsId()) {
                        location.href = '/evidence.html'
                    }
                }
                if (currentUrl === 'articlecontent.html') {
                    this.title = sessionStorage.getItem('title')
                    this.content = sessionStorage.getItem('content')
                    this.create_time = sessionStorage.getItem('create_time')
                }
                this._isSearchList(currentUrl)
            },
            loginout: function () {
                localStorage.clear()
                sessionStorage.clear()
                location.href = '/'
            },
            _searchSecList: function () {
                var params = {
                    category_id: this._matchUrl('id'),
                    user_id: sessionStorage.getItem('user_id')
                }
                var url = '/portal/articles/fa_tiao'
                var _this = this
                this._ajaxPost(url, params, function (res) {
                    if (res.code === 1 && res.data !== '') {
                        _this.searchSecArr = res.data
                    }
                })
            },
            _hasLogin: function () {
                if (!this._hasSession()) {
                    location.href = '/'
                }
            },
            _isSearchList: function (currentUrl) {
                var id = this._matchUrl('id')
                if (id !== null) {
                    // 获取法条分类列表
                } else {
                    if (currentUrl === 'articlelist.html') {
                        var params = {
                            user_id: sessionStorage.getItem('user_id')
                        }
                        var _this = this
                        this._ajaxPost('/portal/articles/fa_tiao_category', params, function (res) {
                            if (res.code === 1) {
                                _this.searchArr = res.data
                            }
                        })
                    }
                }
            },
            _matchUrl: function (name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i")
                var r = window.location.search.substr(1).match(reg)
                if (r != null) return unescape(r[2])
                return null;
            },
            _pathUser: function () {
                var urls = window.location.pathname
                var currentUrl = this._getUrlName(urls)
                if (this.userPath.indexOf(currentUrl) === -1) {
                    return false
                } else {
                    return true
                }
            },
            _pathUrl: function () {
                var urls = window.location.pathname
                var currentUrl = this._getUrlName(urls)
                var _this = this
                this.navs.forEach(function (a, b) {
                    if (a.urls === currentUrl) {
                        _this.currentLink = b
                    }
                })
                return currentUrl
            },
            _pathLeftUrl: function () {
                var urls = window.location.pathname
                var currentUrl = this._getUrlName(urls)
                var _this = this
                this.leftnavs.forEach(function (a, b) {
                    if (a.urls === currentUrl) {
                        _this.leftCurrentLink = b
                    }
                })
                return currentUrl
            },
            _getUrlName: function (url) {
                return url.substring(1, url.length)
            },
            _getMyRights: function () {
                var url = '/portal/qu_zheng_dan/my_list'
                var params = {user_id: sessionStorage.getItem('user_id')}
                var _this = this
                this._ajaxPost(url, params, function (res) {
                    _this.myRights = res.data
                })
            },
            // 获取单个取证单
            _getRightsById: function () {
                var params = {
                    qu_zheng_dan_id: this._matchUrl('id')
                }
                localStorage.setItem('rights_id', this._matchUrl('id'))
                var _this = this
                var url = '/portal/qu_zheng_dan/get_qu_zheng'
                this._ajaxPost(url, params, function (res) {
                    if (res.code === 1) {
                        if (res.user_id === sessionStorage.getItem('user_id')) {
                            history.back()
                            return false
                        }
                        _this.rights = res.data
                    }
                })
            },
            _setUserInfo: function () {
                // 获取用户信息
            },
            _getUserInfo: function () {
                if (!sessionStorage.getItem('user_id') && sessionStorage.getItem('user_id') === null) {
                    this.isLogin = true
                } else {
                    var url = 'user/profile/userInfo?user_id=' + sessionStorage.getItem('user_id')
                    var _this = this
                    this._ajaxGet(url, function (res) {
                        if (res.code === 1) {
                            _this.UserInfo = res.data
                            _this.mobile = res.data.mobile
                        }
                    })
                    this.isLogin = false
                }
            },
            goContent: function (item) {
                sessionStorage.setItem('title', item.post_title)
                sessionStorage.setItem('content', item.post_content)
                sessionStorage.setItem('create_time', item.create_time)
                location.href = '/articlecontent.html?id=' + item.id
            },
            setMobile: function () {
//                var url = 'user/profile/userInfo'
//                var params = {
//                    user_id: sessionStorage.getItem('user_id'),
//                    mobile: this.mobile
//                }
//                var _this = this
//                this._ajaxPost(url, params, function (res) {
//                    if (res.code === 1) {
//                       _this.showTel = false
//                    }
//                })
            },
            searching: function () {
                var params = {
                    keyword: this.keyword,
                    user_id: this.user_id
                }
                var url = '/portal/articles/fa_tiao_search'
                var _this = this
                this._ajaxPost(url, params, function (res) {
                    if (res.code === 1 && res.data !== '') {
                        _this.searchArr = res.data
                    }
                })
            },
            gotoassist: function () {
                var reg = this._regForm()
                if (!reg) {
                    return false
                }
                if (this.rightevidence.rights_id !== '') {
                    var params = {
                        id: this.rightevidence.rights_id,
                        user_id: sessionStorage.getItem('user_id'),
                        company: this.rightevidence.company,
                        company_address: this.rightevidence.company_address,
                        contact: this.rightevidence.contact,
                        contact_phone: this.rightevidence.contact_phone,
                        job_address: this.rightevidence.job_address,
                        job_post: this.rightevidence.job_post,
                        join_time: this.rightevidence.join_time,
                        is_shu_mian_he_tong: this.rightevidence.is_shu_mian_he_tong,
                        email: this.rightevidence.email,
                        job_name: this.rightevidence.job_name,
                        age: this.rightevidence.age,
                        sex: this.rightevidence.sex,
                        hu_kou_xing_zhi: this.rightevidence.hu_kou_xing_zhi,
                        rights_type: this.rightevidence.rights_type,
                        rights_money: this.rightevidence.rights_money,
                        description: this.rightevidence.description,
                        ask: this.rightevidence.ask
                    }
                    this._ajaxToEvidence(params)
                } else {
                    var params = {
                        user_id: sessionStorage.getItem('user_id'),
                        company: this.rightevidence.company,
                        company_address: this.rightevidence.company_address,
                        contact: this.rightevidence.contact,
                        contact_phone: this.rightevidence.contact_phone,
                        job_address: this.rightevidence.job_address,
                        job_post: this.rightevidence.job_post,
                        join_time: this.rightevidence.join_time,
                        is_shu_mian_he_tong: this.rightevidence.is_shu_mian_he_tong,
                        email: this.rightevidence.email,
                        job_name: this.rightevidence.job_name,
                        age: this.rightevidence.age,
                        sex: this.rightevidence.sex,
                        hu_kou_xing_zhi: this.rightevidence.hu_kou_xing_zhi,
                        rights_type: this.rightevidence.rights_type,
                        rights_money: this.rightevidence.rights_money,
                        description: this.rightevidence.description,
                        ask: this.rightevidence.ask
                    }
                    this._ajaxToEvidence(params)
                }
            },
            _ajaxToEvidence: function (params) {
                var url = '/portal/qu_zheng_dan/save'
                var _this = this
                this._ajaxPost(url, params, function (res) {
                    if (res.code === 1) {
                        localStorage.setItem('rights_id', res.data.id)
                        localStorage.setItem('rights_status', res.data.status)
                        console.log('显示倒计时')
                        return false
                    }
                    if (res.code === 0) {
                        _this._ajaxRights(res.data)
                    }
                })
            },
            _ajaxRights: function (id) {
                var params = {qu_zheng_dan_id: id}
                var url = '/portal/qu_zheng_dan/get_qu_zheng'
                var _this = this
                this._ajaxPost(url, params, function (res) {
                    if (res.code === 1) {
                        localStorage.setItem('rights_status', res.data.status)
                        _this._upForm(res)
                    }
                })
            },
            _upForm: function (res) {
                this.rightevidence.rights_id = res.data.id
                this.rightevidence.company = res.data.company
                this.rightevidence.company_address = res.data.company_address
                this.rightevidence.contact = res.data.contact
                this.rightevidence.contact_phone = res.data.contact_phone
                this.rightevidence.job_address = res.data.job_address
                this.rightevidence.job_post = res.data.job_post
                this.rightevidence.join_time = res.data.join_time
                this.rightevidence.is_shu_mian_he_tong = res.data.is_shu_mian_he_tong
                this.rightevidence.email = res.data.email
                this.rightevidence.job_name = res.data.job_name
                this.rightevidence.age = res.data.age
                this.rightevidence.sex = res.data.sex
                this.rightevidence.hu_kou_xing_zhi = res.data.hu_kou_xing_zhi
                this.rightevidence.rights_type = res.data.rights_type
                this.rightevidence.rights_money = res.data.rights_money
                this.rightevidence.description = res.data.description
                this.rightevidence.ask = res.data.ask
            },
            _stepTo: function (item) {
                var id = localStorage.getItem('rights_id')
                var status = localStorage.getItem('rights_status')
                switch (status) {
                    case 0:
                        location.href = '/compromise.html'
                        break
                    case 1:
                        location.href = '/lawyerletter.html'
                        break
                    case 2:
                        location.href = '/ucase.html'
                        break
                    case 3:
                        location.href = '/ucase.html'
                        break
                    case 4:
                        location.href = '/arbitration.html'
                        break
                    // 5代发律师函进行中
                    case 5:
                        // 判断代律师status
                        var rightsData = {qu_zheng_dan_id: id}
                        var url = '/portal/qu_zheng_dan/get_qu_zheng'
                        this._ajaxPost(url, rightsData, function (res) {
                            if (res.code === 1 && res.data.lv_shi_han) {
                                localStorage.setItem('applyfor_id', id)
                                if (res.data.lv_shi_han.status === 0) {
                                    location.href = '/lawyerletter.html'
                                } else if (res.data.lv_shi_han.status === 1) {
                                    location.href = '/ucase.html'
                                } else {
                                    location.href = '/arbitration.html'
                                }
                            }
                        })
                        break
                    case 6:
                        location.href = '/arbitration.html'
                        break
                    case 7:
                        break
                    case 8:
                        location.href = '/ucase.html'
                        break
                }
            },
            _isStatus: function () {
                var status = localStorage.getItem('rights_status')
                var id = localStorage.getItem('rights_id')
                if (!status || status === null) {
                    if (id) {
                        this._ajaxRights(id)
                    } else {
                        location.href = '/evidence.html'
                    }
                }
            },
            gotoprocess: function (item) {
                switch (item.status) {
                    case 0:
                        localStorage.setItem('rights_id', item.id)
                        location.href = '/compromise.html'
                        break
                    case 1:
                        localStorage.setItem('rights_id', item.id)
                        location.href = '/lawyerletter.html'
                        break
                    case 2:
                        location.href = '/ucase.html'
                        break
                    case 3:
                        location.href = '/ucase.html'
                        break
                    case 4:
                        localStorage.setItem('rights_id', item.id)
                        location.href = '/arbitration.html'
                        break
                    // 5代发律师函进行中
                    case 5:
                        // 判断代律师status
                        localStorage.setItem('rights_id', item.id)
                        var rightsData = {qu_zheng_dan_id: item.id}
                        var url = '/portal/qu_zheng_dan/get_qu_zheng'
                        this._ajaxPost(url, rightsData, function (res) {
                            if (res.code === 1 && res.data.lv_shi_han) {
                                localStorage.setItem('applyfor_id', item.id)
                                if (res.data.lv_shi_han.status === 0) {
                                    location.href = '/lawyerletter.html'
                                } else if (res.data.lv_shi_han.status === 1) {
                                    location.href = '/ucase.html'
                                } else {
                                    location.href = '/arbitration.html'
                                }
                            }
                        })
                        break
                    case 6:
                        localStorage.setItem('rights_id', item.id)
                        location.href = '/arbitration.html'
                        break
                    case 7:
                        break
                    case 8:
                        location.href = '/ucase.html'
                        break
                }
            },
            _ajaxApplyTo: function (params) {
                var url = '/portal/lv_shi_han/save'
                var _this = this
                this._ajaxPost(url, params, function (res) {
                    if (res.code === 1) {
                        console.log('显示倒计时')
                        _this.isApply = true
                        _this._getApplyTime()
                    }
                })
            },
            getResource: function () {
                if (!this._getCurrentRightsId()) {
                    alert('请选择要处理的取证单')
                    location.href = '/ucase.html'
                    return false
                }
                if (this.assistemail.length === 0) {
                    alert('邮箱不能为空')
                    return false
                }
                if (!(/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((.[a-zA-Z0-9_-]{2,3}){1,2})$/.test(this.assistemail))) {
                    alert('email格式不正确')
                    return false
                }
                var params = {id: this._getCurrentRightsId(), email: this.assistemail}
                var url = '/portal/qu_zheng_dan/update'
                var _this = this
                this._ajaxPost(url, params, function (res) {
                    if (res.code === 1) {
                        localStorage.setItem('rights_email', _this.assistemail)
                        console.log('辅助倒计时')
                        _this.isAssist = true
                        _this._getAssigtTime()
                    }
                })
                // 允许下一步
            },
            setAgentStatus: function (status) {
                // 更新状态
                if (status === 1) {
                    // 成功
                    var applyData = {
                        id: localStorage.getItem('') ? localStorage.getItem('') : this.applyfor.applyId,
                        status: status
                    }
                    // 更新律师函status
                    var rightData = {
                        id: this._getCurrentRightsId(),
                        status: 3
                    }
                    this._ajaxToChangeApplyStatus(rightData, applyData, status)
                } else {
                    // 失败
                    var applyData = {
                        id: localStorage.getItem('') ? localStorage.getItem('') : this.applyfor.applyId,
                        status: status
                    }
                    // 更新律师函status
                    var rightData = {
                        id: this._getCurrentRightsId(),
                        status: 4
                    }
                    this._ajaxToChangeApplyStatus(rightData, applyData, status)
                }
            },
            _ajaxToChangeApplyStatus: function (rightData, applyData, status) {
                var url = '/portal/qu_zheng_dan/update'
                var _this = this
                this._ajaxPost(url, rightData, function (res) {
                    if (res.code === 1) {
                    }
                })
                this._ajaxPost(url, applyData, function (res) {
                    if (res.code === 1) {
                        if (status === 2) {
                            location.href = '/arbitration.html'
                        } else {
                            location.href = '/ucase.html'
                        }
                    }
                })
            },
            _getAssigtTime: function () {
                var params = {qu_zheng_dan_id: this._getCurrentRightsId()}
                var url = '/portal/qu_zheng_dan/get_qu_zheng'
                var _this = this
                this._ajaxPost(url, params, function (res) {
                    if (res.code === 1) {
                        _this.newRights = res.data
                    }
                })
            },
            _getApplyTime: function () {
                var params = {qu_zheng_dan_id: this._getCurrentRightsId()}
                var url = '/portal/qu_zheng_dan/get_qu_zheng'
                var _this = this
                this._ajaxPost(url, params, function (res) {
                    if (res.code === 1) {
                        _this.newApply = res.data
                    }
                })
            },
            getArbitrationTime: function () {
                var params = {qu_zheng_dan_id: this._getCurrentRightsId()}
                var url = '/portal/qu_zheng_dan/get_qu_zheng'
                var _this = this
                this._ajaxPost(url, params, function (res) {
                    if (res.code === 1) {
                        _this.newArbitration = res.data
                    }
                })
            },
            setArbitrationStatus: function (status) {
                // 更新状态
                var params = {
                    id: this._getCurrentRightsId(),
                    status: status
                }
                var url = '/portal/qu_zheng_dan/update'
                var _this = this
                this._ajaxPost(url, params, function (res) {
                    if (res.code === 1) {
                        if (status === 7) {
                            // 弹出问题
                            _this.isShowFeedback = true
                        } else {
                            location.href = '/ucase.html'
                        }
                        return false
                    }
                })
            },
            setRightStatus: function (status) {
                // 更新状态
                var params = {
                    id: this._getCurrentRightsId(),
                    status: status
                }
                var url = '/portal/qu_zheng_dan/update'
                var _this = this
                this._ajaxPost(url, params, function (res) {
                    if (status === 1) {
                        location.href = '/ucase.html'
                    } else {
                        location.href = '/lawyerletter.html'
                    }
                })
            },
            applySubmit: function () {
                if (!this._getCurrentRightsId()) {
                    alert('请选择要处理的取证单')
                    location.href = '/ucase.html'
                    return false
                }
                var reg = this._regApplyforForm()
                if (!reg) {
                    return false
                }
                var _this = this
                if (this.applyfor.applyId !== '') {
                    var params = {
                        id: this.applyfor.applyId,
                        name: this.applyfor.name,
                        company: this.applyfor.company,
                        contract_begin_time: this.applyfor.contract_begin_time,
                        contract_limit: this.applyfor.contract_limit,
                        second_begin_time: this.applyfor.second_begin_time,
                        second_limit: this.applyfor.second_limit,
                        mail_address: this.applyfor.mail_address,
                        description: this.applyfor.description,
                        ask: this.applyfor.ask,
                        qu_zheng_dan_id: _this._getCurrentRightsId(),
                        user_id: sessionStorage.getItem('user_id')
                    }
                    _this._ajaxApplyTo(params)
                } else {
                    var params = {
                        name: this.applyfor.name,
                        company: this.applyfor.company,
                        contract_begin_time: this.applyfor.contract_begin_time,
                        contract_limit: this.applyfor.contract_limit,
                        second_begin_time: this.applyfor.second_begin_time,
                        second_limit: this.applyfor.second_limit,
                        mail_address: this.applyfor.mail_address,
                        description: this.applyfor.description,
                        ask: this.applyfor.ask,
                        qu_zheng_dan_id: _this._getCurrentRightsId(),
                        user_id: sessionStorage.getItem('user_id')
                    }
                    _this._ajaxApplyTo(params)
                }
            },
            _getCurrentRightsId: function () {
                var rights_id = localStorage.getItem('rights_id')
                if (rights_id !== null) {
                    return rights_id
                }
                return false
            },
            gotoarbitrating: function () {
                if (!this._getCurrentRightsId()) {
                    alert('请选择取证单')
                    location.href = '/ucase.html'
                    return false
                }
                var params = {
                    id: this._getCurrentRightsId(),
                    status: 6
                }
                var url = '/portal/qu_zheng_dan/update'
                var _this = this
                this._ajaxPost(url, params, function (res) {
                    if (res.code === 1) {
                        console.log('显示arbitration倒计时')
                        _this.getArbitrationTime()
                        _this.isArbitration = true
                    }
                })
            },
            _ajaxArbitrating: function (params) {
                var url = '/portal/qu_zheng_dan/update'
                var _this = this
                this._ajaxPost(url, params, function (res) {
                    if (res.code === 1) {
                        location.href = '/lawyerletter.html'
                    }
                })
            },
            arbitrationing: function () {
                if (this.arbitrate_description.length === 0) {
                    alert('为了更好的维权，请您填写维权失败的原因')
                    return false
                }
                var FailData = {id: this._getCurrentRightsId(), arbitrate_description: this.arbitrate_description}
                var url = '/portal/qu_zheng_dan/update'
                var _this = this
                this._ajaxPost(url, FailData, function (res) {
                    if (res.code === 1) {
                        location.href = '/ucase.html'
                    }
                })
            },
            _fullApplyfor: function () {
                var params = {qu_zheng_dan_id: this._getCurrentRightsId()}
                var url = '/portal/qu_zheng_dan/get_qu_zheng'
                var _this = this
                this._ajaxPost(url, params, function (res) {
                    if (res.code === 1 && res.data.lv_shi_han) {
                        _this.applyfor.applyId = res.data.lv_shi_han.id
                        _this.applyfor.name = res.data.lv_shi_han.name
                        _this.applyfor.company = res.data.lv_shi_han.company
                        _this.applyfor.contract_begin_time = res.data.lv_shi_han.contract_begin_time
                        _this.applyfor.contract_limit = res.data.lv_shi_han.contract_limit
                        _this.applyfor.second_begin_time = res.data.lv_shi_han.second_begin_time
                        _this.applyfor.second_limit = res.data.lv_shi_han.second_limit
                        _this.applyfor.mail_address = res.data.lv_shi_han.mail_address
                        _this.applyfor.description = res.data.lv_shi_han.description
                        _this.applyfor.ask = res.data.lv_shi_han.ask
                    }
                })
            },
            // 显示补充手机号
            // 用户登录
            _hasSession: function () {
                var uid = sessionStorage.getItem('user_id')
                if (!uid) {
                    return false
                } else {
                    return true
                }
            },
            handStatus: function (status) {
                var str = ''
                switch (status) {
                    case 0:
                        str = 'handing'
                        break
                    case 1:
                        str = 'handed'
                        break
                    case 2:
                        str = 'handed'
                        break
                    case 3:
                        str = 'handed'
                        break
                    case 4:
                        str = 'handed'
                        break
                    case 5:
                        str = 'handing'
                        break
                    case 6:
                        str = 'handing'
                        break
                    case 7:
                        str = 'handed'
                        break
                    case 8:
                        str = 'handed'
                        break
                }
                return str
            },
            handText: function (status) {
                var str = ''
                switch (status) {
                    case 0:
                        str = '正在进行'
                        break
                    case 1:
                        str = '正在进行'
                        break
                    case 2:
                        str = '维权结束'
                        break
                    case 3:
                        str = '维权结束'
                        break
                    case 4:
                        str = '正在进行'
                        break
                    case 5:
                        str = '正在进行'
                        break
                    case 6:
                        str = '正在进行'
                        break
                    case 7:
                        str = '维权结束'
                        break
                    case 8:
                        str = '维权结束'
                        break
                }
                return str
            },
            getType: function (status) {
                if (status === 3) {
                    return true
                } else if (status === 4) {
                    return true
                } else if (status === 5) {
                    return true
                } else {
                    return false
                }
            },
            getStatus: function (status) {
                var str = ''
                switch (status) {
                    case 0:
                        str = '收集证据'
                        break
                    case 1:
                        str = '辅助和解'
                        break
                    case 2:
                        str = '辅助和解'
                        break
                    case 3:
                        str = '代发律师函'
                        break
                    case 4:
                        str = '代发律师函'
                        break
                    case 5:
                        str = '代发律师函'
                        break
                    case 6:
                        str = '申请仲裁'
                        break
                    case 7:
                        str = '申请仲裁'
                        break
                    case 8:
                        str = '申请仲裁'
                        break
                }
                return str
            },
            _regApplyforForm: function () {
                if (this.applyfor.name.length === 0) {
                    alert('申请人不能为空')
                    return false
                }
                if (this.applyfor.company.length === 0) {
                    alert('公司名称不能为空')
                    return false
                }
                if (this.applyfor.contract_begin_time.length === 0) {
                    alert('请选择劳动合同签订时间')
                    return false
                }
                if (this.applyfor.contract_limit.length === 0) {
                    alert('请选择劳动合同签订期限')
                    return false
                }
                if (this.applyfor.second_begin_time.length === 0) {
                    alert('请选择二次签订时间')
                    return false
                }
                if (this.applyfor.second_limit.length === 0) {
                    alert('请选择二次签订期限')
                    return false
                }
                if (this.applyfor.mail_address.length === 0) {
                    alert('邮寄地址不能为空')
                    return false
                }
                if (this.applyfor.description.length === 0) {
                    alert('情况描述不能为空')
                    return false
                }
                if (this.applyfor.ask.length === 0) {
                    alert('请输入情况要求')
                    return false
                }
                return true
            },
            _regForm: function () {
                if (this.rightevidence.company.length === 0) {
                    alert('公司名称不能为空')
                    return false
                }
                if (this.rightevidence.company_address.length === 0) {
                    alert('公司地址不能为空')
                    return false
                }
                if (this.rightevidence.contact.length === 0) {
                    alert('联系人不能为空')
                    return false
                }
                if (this.rightevidence.contact_phone.length === 0) {
                    alert('联系方式不能为空')
                    return false
                }
                if (this.rightevidence.job_address.length === 0) {
                    alert('工作地点不能为空')
                    return false
                }
                if (this.rightevidence.job_post.length === 0) {
                    alert('工作职位不能为空')
                    return false
                }
                if (this.rightevidence.join_time.length === 0) {
                    alert('入职时间不能为空')
                    return false
                }
                if (this.rightevidence.is_shu_mian_he_tong === null) {
                    alert('请选择是否有书面合同')
                    return false
                }
                if (this.rightevidence.rights_type.length === 0) {
                    alert('请选择是否维权类型')
                    return false
                }
                if (this.rightevidence.rights_money.length === 0) {
                    alert('请输入维权金额')
                    return false
                }
                if (this.rightevidence.email.length === 0) {
                    alert('请输入email')
                    return false
                }
                if (!(/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((.[a-zA-Z0-9_-]{2,3}){1,2})$/.test(this.rightevidence.email))) {
                    alert('email格式不正确')
                    return false
                }
                if (this.rightevidence.description.length === 0) {
                    alert('请输入你的情况')
                    return false
                }
                if (this.rightevidence.ask.length === 0) {
                    alert('请输入期望解决办法')
                    return false
                }
                return true
            },
            _ajaxGet: function (url, callback) {
                this.$http.get(configUrl + url, {}, {
                    emulateJSON: true
                }).then(
                    function (res) {
                    		var datas = JSON.stringify(res.data)
                    		var objs = JSON.parse(datas)
                    		// console.log(objs.msg)
                    		if (objs.msg === undefined) {
													callback(eval('(' + res.data + ')'))
                    		} else {
                    			callback(objs)
                    		}
                    },
                    function (res) {

                    })
            },
            _ajaxPost: function (url, params, callback) {
                this.$http.post(configUrl + url, params, {
                    emulateJSON: true
                }).then(
                    function (res) {
                        // 处理成功的结果
                        var datas = JSON.stringify(res.data)
                    		var objs = JSON.parse(datas)
                    		// console.log(objs.msg)
                    		if (objs.msg === undefined) {
													callback(eval('(' + res.data + ')'))
                    		} else {
                    			callback(objs)
                    		}
                    },
                    function (res) {
                        // 处理失败的结果
                    }
                );
            }
        }
    })
</script>