<table class="table table-striped">
    <thead>
        <tr>
            <th>标题</th>
            <th>内容</th>
        </tr>
    </thead>
    <tbody>
        {volist name="row" id="vo"}
            {if condition="$key eq 'reconcile'"}
                <tr>
                    <td>{:__($key)}</td>
                    <td>
                        <div class="input-group">
                            <div class="input-group">
                                <input id="c-reconcile" data-rule="required" class="form-control" size="50" name="row[reconcile]" type="text">
                                <div class="input-group-addon no-border no-padding">
                                    <span><button type="button" id="plupload-reconcile" class="btn btn-danger plupload" data-input-id="c-reconcile" data-mimetype="application/doc" data-multiple="false"><i class="fa fa-upload"></i> {:__('下发和解书')}</button></span>
                                    <span><button type="button" id="fachoose-reconcile" class="btn btn-primary fachoose" data-input-id="c-reconcile" data-mimetype="application/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {else /}
                <tr>
                    <td>{:__($key)}</td>
                    <td>{$vo}</td>
                </tr>
            {/if}
        {/volist}

    </tbody>
</table>
<div class="hide layer-footer">
    <label class="control-label col-xs-12 col-sm-2"></label>
    <div class="col-xs-12 col-sm-8">
        <button type="reset" class="btn btn-primary btn-embossed btn-close" onclick="Layer.closeAll();">{:__('Close')}</button>
    </div>
</div>