<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>职场保</title>
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
    <!-- <link href="https://cdn.bootcss.com/mui/3.7.1/css/mui.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="__CDN__/assets/css/wechat/mui.css">
    <link rel="stylesheet" href="__CDN__/assets/css/wechat/mui.picker.all.css">
    <link href="__CDN__/assets/css/wechat/app.e2b7ceda3df29329385a902707b0ee3e.css" rel="stylesheet">

    <style type="text/css">
        .m-textarea {
            padding: .2rem 0;
            background-color: #fff;
            width: 100%
        }

        .m-textarea textarea {
            border: none;
            width: 100%;
            display: block;
            height: 1.5rem;
            font-size: .3rem
        }

        .m-textarea .textarea-counter {
            font-size: .32rem;
            color: #b2b2b2;
            text-align: right;
            padding-top: .06rem
        }
    </style>
</head>

<body>
<div id="app">
    <div data-v-6745eb1a="" class="rights-evidence">
        <form id="evidence" action="">
        <div data-v-6745eb1a="" class="rights-title">取证单</div>
        <div data-v-6745eb1a="" class="rights-form">
            <div data-v-6745eb1a="" class="rights-must">必填项</div>
            <div data-v-6745eb1a="" class="form-input">
                <input type="hidden" name="user_id" value="{$Think.session.user_id}">
                <label data-v-6745eb1a="" for="aa">公司名称</label>
                <input data-v-6745eb1a="" name="company" type="text" id="aa" placeholder="请输入公司名称" value="">
            </div>
            <div data-v-6745eb1a="" class="form-input">
                <label data-v-6745eb1a="" for="bb">公司地址</label>
                <input data-v-6745eb1a="" name="company_address" type="text" id="bb" placeholder="请输入公司地址" value="">
            </div>
            <div data-v-6745eb1a="" class="form-input">
                <label data-v-6745eb1a="" for="cc">联系人</label>
                <input data-v-6745eb1a="" name="contact" type="text" id="cc" placeholder="请输入联系人姓名" value="">
            </div>
            <div data-v-6745eb1a="" class="form-input">
                <label data-v-6745eb1a="" for="dd">联系方式</label>
                <input data-v-6745eb1a="" name="contact_phone" type="text" id="dd" placeholder="请输入联系方式" value="">
            </div>
            <div data-v-6745eb1a="" class="form-input">
                <label data-v-6745eb1a="" for="ee">工作地点</label>
                <input data-v-6745eb1a="" name="job_address" type="text" id="ee" placeholder="请输入工作地点" value="">
            </div>
            <div data-v-6745eb1a="" class="form-input">
                <label data-v-6745eb1a="" for="ff">工作职位</label>
                <input data-v-6745eb1a="" name="job_post" type="text" id="ff" placeholder="请输入工作职位" value="">
            </div>
            <div data-v-6745eb1a="" class="form-input">
                <label data-v-6745eb1a="" for="gg">入职时间</label>
                <input data-v-6745eb1a="" name="job_time" type="text" id="gg" readonly="readonly" placeholder="请选择入职时间" value="">
            </div>
            <div data-v-6745eb1a="" class="form-input">
                <label data-v-6745eb1a="" for="g">是否有书面合同</label>
                <input data-v-6745eb1a="" name="compact" type="text" id="g" readonly="readonly" placeholder="请选择是否有书面合同" value="">
            </div>
            <div data-v-6745eb1a="" class="form-input">
                <label data-v-6745eb1a="" for="gggg">选择维权类型</label>
                <input data-v-6745eb1a="" name="rights_type" type="text" id="gggg" readonly="readonly" placeholder="请选择维权类型" value="">
            </div>
            <div data-v-6745eb1a="" class="form-input">
                <label data-v-6745eb1a="" for="gggggg">维权金额</label>
                <input data-v-6745eb1a="" name="rights_money" type="text" id="gggggg" placeholder="请输入维权金额" value="">
            </div>
            <div data-v-6745eb1a="" class="form-input">
                <label data-v-6745eb1a="" for="ggg">邮箱</label>
                <input data-v-6745eb1a="" name="email" type="text" id="ggg" value="" placeholder="请输入邮箱地址">
            </div>
            <div data-v-6745eb1a="" class="form-input2">
                <label data-v-6745eb1a="" for="desc">你的情况</label>
                <textarea data-v-6745eb1a="" name="description" id="desc" rows="10"></textarea>
            </div>
            <div data-v-6745eb1a="" class="form-input2">
                <label data-v-6745eb1a="" for="desc2">期望解决办法</label>
                <textarea data-v-6745eb1a="" name="ask" id="desc2" rows="10"></textarea>
            </div>
            <div data-v-6745eb1a="" class="rights-must">选填项</div>
            <div data-v-6745eb1a="" class="form-input">
                <label data-v-6745eb1a="" for="zg">职工名称</label>
                <input data-v-6745eb1a="" name="job_name" type="text" id="zg" placeholder="请输入职工名称">
            </div>
            <div data-v-6745eb1a="" class="form-input">
                <label data-v-6745eb1a="" for="age">年龄</label>
                <input data-v-6745eb1a="" name="job_age" type="text" id="age" placeholder="请输入年龄">
            </div>
            <div data-v-6745eb1a="" class="form-input">
                <label data-v-6745eb1a="" for="sex">请选择性别</label>
                <input data-v-6745eb1a="" name="sex" type="text" id="sex" readonly="readonly" placeholder="请选择性别">
            </div>
            <div data-v-6745eb1a="" class="form-input">
                <label data-v-6745eb1a="" for="hk">户口性质</label>
                <input data-v-6745eb1a="" name="registered" type="text" id="hk" readonly="readonly" placeholder="请选择户口性质">
            </div>
            <div data-v-6745eb1a="" class="rights-evidence-btn" onclick="postAjax();">确认申请</div>
        </div>
        </form>
    </div>
</div>
{include file="common/footer" /}
<script src="__CDN__/assets/js/wechat/mui.js"></script>
<script src="__CDN__/assets/js/wechat/mui.picker.all.js"></script>
<script type="text/javascript">
    function postAjax() {
        $.ajax({
            url: '/wechat/evidence/addCheck',
            type: 'POST', //GET
            async: true, //或false,是否异步
            data: $('#evidence').serialize(),
            timeout: 5000, //超时时间
            dataType: 'json', //返回的数据格式：json/xml/html/script/jsonp/text
            success: function(data) {
                if(data == "1") {
                    alert("提交成功");
                    history.back();
                }else {
                    alert("提交失败");
                }
            },
            error: function(xhr, textStatus) {
                console.log(textStatus);
            }
        });
    }
    window.onload = function(){
        // 请选择入职时间
        var gg = document.getElementById("gg");
        gg.addEventListener("tap", function() {
            var dtPicker = new mui.DtPicker({
                "type": "date",
                "value": "2000-01-01",
                beginDate: new Date(1999, 12, 01),//设置开始日期
                endDate: new Date(2025, 12, 30),//设置结束日期
            });
            dtPicker.show(function (item) {
                gg.setAttribute("value",item.y.text+'-'+item.m.text+'-'+item.d.text);
            })
        });

        // 请选择是否有书面合同
        var g = document.getElementById("g");
        g.addEventListener("tap", function() {
            var roadPick = new mui.PopPicker();
            roadPick.setData([{
                value: "1",
                text: "是"
            }, {
                value: "2",
                text: "否"
            }]);
            roadPick.show(function(item) {
                g.setAttribute("value",item[0].text);
            });
        });

        // 请选择维权类型
        var gggg = document.getElementById("gggg");
        gggg.addEventListener("tap", function() {
            var roadPick = new mui.PopPicker();
            roadPick.setData([{
                value: "0",
                text: "拖欠工资"
            }, {
                value: "1",
                text: "劳动纠纷"
            }, {
                value: "2",
                text: "五险一金"
            }, {
                value: "3",
                text: "加班休假"
            }, {
                value: "4",
                text: "产假婚嫁"
            }, {
                value: "5",
                text: "岗位调动"
            }, {
                value: "6",
                text: "辞退开除"
            }, {
                value: "7",
                text: "绩效工资"
            }, {
                value: "8",
                text: "其他"
            }]);
            roadPick.show(function(item) {
                gggg.setAttribute("value",item[0].text);
            });
        });

        // 请选择性别
        var sex = document.getElementById("sex");
        sex.addEventListener("tap", function() {
            var roadPick = new mui.PopPicker();
            roadPick.setData([{
                value: "0",
                text: "无"
            }, {
                value: "1",
                text: "男"
            }, {
                value: "2",
                text: "女"
            }]);
            roadPick.show(function(item) {
                sex.setAttribute("value",item[0].text);
            });
        });

        // 请选择户口性质
        var hk = document.getElementById("hk");
        hk.addEventListener("tap", function() {
            var roadPick = new mui.PopPicker();
            roadPick.setData([{
                value: "0",
                text: "农村户口"
            }, {
                value: "1",
                text: "城镇户口"
            }]);
            roadPick.show(function(item) {
                hk.setAttribute("value",item[0].text);
            });
        });

        var submitEvidence = document.getElementsByClassName("rights-evidence-btn")[0];
        var aa = document.getElementById("aa");//请输入公司名称
        var bb = document.getElementById("bb");//请输入公司地址
        var cc = document.getElementById("cc");//请输入联系人姓名
        var dd = document.getElementById("dd");//请输入联系方式
        var ee = document.getElementById("ee");//请输入工作地点
        var ff = document.getElementById("ff");//请输入工作职位
        var ggg = document.getElementById("ggg");//请输入邮箱地址
        var gg = document.getElementById("gg");//请选择入职时间
        var g = document.getElementById("g");//请选择是否有书面合同
        var gggg = document.getElementById("gggg");//请选择维权类型
        var desc = document.getElementById("desc");//你的情况
        var desc2 = document.getElementById("desc2");//期望解决办法

        submitEvidence.addEventListener("click", function() {


            if(aa.value == ""){
                requireItem(aa, "请输入公司名称");
            } else if(bb.value == ''){
                requireItem(bb, "请输入公司地址");
            } else if(cc.value == ''){
                requireItem(cc, "请输入联系人姓名");
            } else if(dd.value == ''){
                requireItem(dd, "请输入联系方式");
            } else if(ee.value == ''){
                requireItem(ee, "请输入工作地点");
            } else if(ff.value == ''){
                requireItem(ff, "请输入工作职位");
            } else if(gg.value == ''){
                requireItem(gg, "请选择入职时间");
            } else if(g.value == ''){
                requireItem(g, "请选择是否有书面合同");
            } else if(gggg.value == ''){
                requireItem(gggg, "请选择维权类型");
            } else if(ggg.value == ''){
                requireItem(ggg, '请输入邮箱地址');
            } else if(desc.value == ""){
                requireItem(desc, "请输入你的情况");
            } else if(desc2.value == ''){
                requireItem(desc2, "请输入您的期望解决办法");
            }

            testEmail();
        });

        function requireItem(el, info) {
            mui.toast(info,{ duration:'short', type:'div' });
            el.setAttribute("value", "");
        }

        function testEmail() {
            if(ggg.value || ggg.value != '') {
                //对电子邮件的验证
                // var myreg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
                var myreg = /^(\w)+(\.\w+)*@(\w)+((\.\w{2,3}){1,3})$/;
                if(!myreg.test(ggg.value)) {
                    mui.toast('email格式不正确',{ duration:'short', type:'div' });
                    // myreg.focus();
                    return false;
                }
            }
        }


    }


</script>
</body>

</html>