
<!DOCTYPE html>
<html lang="en" class="js cssanimations">
<link rel="alternate icon" type="/favicon.png" href="/favicon.png">
<head>
    {include file="common/meta" /}
</head>
<body>
<div id="app" v-cloak>
    {include file="common/header" /}
    <div class="banner_img">
        <img src="__CDN__/assets/img/index/14.png">
    </div>
    <!-- 中间的 -->
    <div class="wrap">
        <div class="yd-timeline demo-small-pitch">
    <ul class="yd-timeline-content">
        <li class="yd-timeline-item">
            <em class="yd-timeline-icon active"></em>
            <p class="text-active"><a href="consult.html">我要咨询</a></p>
        </li>
        <li class="yd-timeline-item">
            <em class="yd-timeline-icon"></em>
            <p class=""><a href="/index/consult/evidence">收集证据</a></p>
        </li>
        <li class="yd-timeline-item">
            <em class="yd-timeline-icon"></em>
            <p class=""><a href="compromise.html">辅助和解</a></p>
        </li>
        <li class="yd-timeline-item">
            <em class="yd-timeline-icon"></em>
            <p class=""><a href="lawyerletter.html">代发律师函</a></p>
        </li>
        <li class="yd-timeline-item">
            <em class="yd-timeline-icon"></em>
            <p class=""><a href="arbitration.html">申请仲裁</a></p>
        </li>
    </ul>
</div>
        <div class="divs">
            <!-- 我要咨询 -->
            <div class="div1">
                <div class="div1_div">
                    <h3>为了更好的帮助您，先和客服聊聊吧~</h3>
                    <p><i class="icon-tel"></i>客服电话：400-895-1551</p>
                    <p><i class="icon-clock"></i>客服热线在线时间：9:00-19:00（周一至周五）</p>
                    <p><i class="icon-local"></i>公司地址:北京市望京利泽东园308博泰嘉华大厦</p>
                </div>
            </div>
        </div>
    </div>
    {include file="common/footer" /}
