<header class="am-topbar am-topbar-inverse">
    <div class="amz-container">
        <h1 class="am-topbar-brand">
            <a href="" class="am-topbar-logo">
                <img src="__CDN__/assets/img/index/logo.png" alt="">
            </a>
        </h1>
        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: &#39;#doc-topbar-collapse-5&#39;}">
            <span class="am-sr-only">
                导航切换
            </span>
            <span class="am-icon-bars">
            </span>
        </button>
        <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse-5">
            <ul class="am-nav am-nav-pills am-topbar-nav">
                <li class="am-active">
                    <a href="/index/index" class="nav-active">首页</a>
                </li>
                <li class="">
                    <a href="/index/consult" class="">我要维权</a>
                </li>
                <li class="">
                    <a href="/index/about" class="">关于我们</a>
                </li>
                <li class="">
                    <a href="/index/member" class="">成为会员</a>
                </li>
            </ul>
            <div class="am-topbar-right top-login-area">
                <div id="login-area">
                    <div class="no-login-pc-entry">
                        <ul class="am-nav am-nav-pills am-topbar-nav">
                            <span><a href="/" target="_blank">请先登录</a></span>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="am-topbar-right top-login-area">
                <div id="login-area">
                    <div class="no-login-pc-entry">
                        <ul class="am-nav am-nav-pills am-topbar-nav">
							<span style="margin-top: 30px;" v-if="UserInfo.user_nickname">
								<span style="color: #000000;">欢迎{{UserInfo.user_nickname}}</span>
								<a href="/uindex.html" target="_blank">会员中心</a>
								<a href="/" @click.stop="loginout" target="_blank">退出</a>
							</span>
                            <span v-else>
								<a href="/" target="_blank">请先登录</a>
							</span>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
