<div class="nav">
    <a href="http://wx.zhichangbb.com/?a=2&amp;uid=167&amp;expire_time=1514345187#/recommend" class="tab-item">
        <span class="icon-home"></span>
        <span class="tab-link">首页</span>
    </a>
    <a href="http://wx.zhichangbb.com/?a=2&amp;uid=167&amp;expire_time=1514345187#/zcb" class="tab-item">
        <span class="icon-save"></span>
        <span class="tab-link">职场保</span>
    </a>
    <a href="http://wx.zhichangbb.com/?a=2&amp;uid=167&amp;expire_time=1514345187#/my" class="tab-item router-link-exact-active router-link-active">
        <span class="icon-my active"></span>
        <span class="tab-link active">我的</span>
    </a>
</div>