<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>职场保</title>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
		<link rel="stylesheet" type="text/css" href="__CDN__/assets/css/wechat/global.css"/>
		<style type="text/css">
			.zcb-wrapper{
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				margin: 0 auto;
				width: 100%;
				max-width: 10rem;
				height: 100%;
				background: rgb(93,201,167);
			}
			.qrcode{
				position: absolute;
				bottom: 0;
				width: 100%;
			}
		</style>
	</head>
	<body>
		<!--职场保二维码页面-->
		<div class="zcb-wrapper">
			<img class="qrcode" src="__CDN__/assets/img/wechat/active01/qrcode.jpg" alt="职场保二维码">
		</div>
		
	</body>
</html>
