<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>职场保</title>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
		<link rel="stylesheet" type="text/css" href="__CDN__/assets/css/wechat/global.css" />
		<link rel="stylesheet" type="text/css" href="__CDN__/assets/css/wechat/buyVIP.css"/>
	</head>
	<body>
	
		<div class="zcb-wrapper">
			
			<!--VIP信息-->
			<div class="buy-info">
				
				<div class="buy-price-wrapper">
					<span class="buy-price-title">职场保<img src="/assets/img/wechat/vip/icon-vip.png" alt="vip-icon" /></span>
					<span class="buy-price">￥<span class="buy-price-num">{$vipData.money}</span></span>
				</div>
				<div class="buy-days-wrapper">
					<span class="buy-days-title">保护职场人的劳动权益</span>
					<span class="buy-days"><span class="buy-days-num"></span></span>
				</div>
						
			</div>
			
			<!--支付方式-->
			<div class="pay-method">
				<p class="pay-method-title">选择付款方式</p>
				<ul>
					<li class="pay-method-wechat">
						<img src="/assets/img/wechat/vip/icon-wechat@2x.png"/>
						<span class="pay-method-wechat-title">微信支付</span>
						<span class="pay-method-wechat-select pay-method-selected"></span>
					</li>
					<li class="pay-method-coupon">
						<img src="/assets/img/wechat/vip/icon-coupon@2x.png"/>
						<span class="pay-method-coupon-title">兑换券</span>
						<span class="pay-method-coupon-select"></span>
					</li>
				</ul>
			</div>
			<font color="#9ACD32"><b>该笔订单支付金额为<span style="color:#f00;font-size:50px">1分</span>钱</b></font><br/><br/>
			<div align="center">
				<button style="width:210px; height:50px; border-radius: 15px;background-color:#FE6714; border:0px #FE6714 solid; cursor: pointer;  color:white;  font-size:16px;" type="button" onclick="callpay()" >立即支付</button>
			</div>
			<!--支付按钮-->
			<a href="javascript:;" class="vip-pay-btn" onclick="callpay()">确认支付</a>
			
			<!--用户协议-->
			<p class="pay-agree">
				<img src="/assets/img/wechat/vip/icon-chebox.png"/> 我已阅读并同意<span style="color: rgb(36,88,255);">《用户在线协议》</span>
			</p>
			
		</div>
		{include file="common/footer" /}

		<script type="text/javascript">
			$(".pay-method-wechat-select").click(function(){
				$(this).addClass("pay-method-selected").css({"background": "url(/assets/img/wechat/vip/icon-selected.png)", "backgroundSize": "100% 100%"});
				if($(".pay-method-coupon-select").hasClass("pay-method-selected")){
					$(".pay-method-coupon-select").removeClass(".pay-method-selected").css({"background": "url(/assets/img/wechat/vip/icon-no-select.png)", "backgroundSize": "100% 100%"});
				}
			});
			$(".pay-method-coupon-select").click(function(){
				$(this).addClass("pay-method-selected").css({"background": "url(/assets/img/wechat/vip/icon-selected.png)", "backgroundSize": "100% 100%"});
				if($(".pay-method-wechat-select").hasClass("pay-method-selected")){
					$(".pay-method-wechat-select").removeClass(".pay-method-selected").css({"background": "url(/assets/img/wechat/vip/icon-no-select.png)", "backgroundSize": "100% 100%"});
				}
				$()
			});

            function onBridgeReady(){
                WeixinJSBridge.invoke(
                    'getBrandWCPayRequest', {$jsorder},
                    function(res){
                        if(res.err_msg == "get_brand_wcpay_request:ok" ) {}     // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。
                    }
                );
            }
            
            function callpay() {
                if (typeof WeixinJSBridge == "undefined"){
                    if( document.addEventListener ){
                        document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
                    }else if (document.attachEvent){
                        document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                        document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
                    }
                }else{
                    onBridgeReady();
                }
            }

            //			VIP购买页Ajax
// 			function buyVIP() {
// 				$.ajax({
// 				    url:'url',
// 				    type:'POST',
// 				    async:true,    //或false,是否异步
// 				    data:{},
// 				    timeout:5000,    //超时时间
// 				    success:function(data){
// 				    		var odata = eval("(" + data +")");
// 				    		if(odata.code == "ok") {
// 				    			$(".buy-price-num").html(odata.data.price);
// 				    			$(".buy-days-num").html(odata.data.days);
// 				    		}
// 				    },
// 				    error:function(xhr,textStatus){
// 				        console.log(textStatus)
// 				    }
// 				})
// 			}
		</script>
	</body>
</html>
