<!DOCTYPE html>
<html>
	<head>
		{include file="common/meta" /}
	</head>
	<body>
		
		<div class="zcb-wrapper">
			
			<!--顶部栏-->
			<div class="vip-header">
				<span class="vip-back"><a href="javascript: history.back();"><img src="/assets/img/wechat/vip/backW@2x.png"/></a></span>
			</div>
			
			<!--vip信息-->
			<div class="vip-info">
				<p class="vip-title">大众会员</p>
				<p class="vip-price"><span>9.9</span>元</p>
				<div class="vip-rights">
					<div class="vip-validate">
						<p class="vip-validate-title">生效</p>
						<p class="vip-validate-num"><span>30</span> 天后</p>
					</div>
					<div class="vip-times">
						<p class="vip-times-title">咨询</p>
						<p class="vip-times-num"><span>5</span> 次</p>
					</div>
				</div>
			</div>
			
			<!--享受服务-->
			<div class="vip-service">
				<p class="vip-service-title">享受服务</p>
				<ul class="vip-service-list">
					<li class="vip-service-item">
						<img src="/assets/img/wechat/vip/icon-contact@2x.png"/>&nbsp;每次咨询限1小时
					</li>
					<li class="vip-service-item">
						<img src="/assets/img/wechat/vip/icon-consult@2x.png"/>解疑答惑法律咨询
					</li>
					<li class="vip-service-item">
						<img src="/assets/img/wechat/vip/icon-advice@2x.png"/>提供法律咨询建议
					</li>
				</ul>
			</div>
			
			<!--开通会员-->
			<a href="/wechat/vip/buy/vid/1/uid/{$Think.session.user_id}" class="buy-vip">开通会员</a>

		</div>

	</body>
</html>
