<!DOCTYPE html>
<html>
	<head>
		{include file="common/meta" /}
	</head>
	<body>
		{include file="common/menu" /}
		<div class="zcb-wrapper">
			
			<div class="vip-header">
				<span class="vip-back"><a href="javascript: history.back();"><img src="__CDN__/assets/img/wechat/vip/backW@2x.png"/></a></span>
			</div>
			
			<div class="vip-wrapper">
				
				<ul class="vip-list">
					
					<!--大众会员-->
					<li class="vip-item common-vip">
						<div class="vip-item-info">
							<div class="vip-common-price-wrapper">
								<p class="vip-common-price"><span>9.9</span>元</p>
								<p class="vip-common-title">大众会员</p>
							</div>
							<div class="vip-common-times-wrapper">
								<p class="vip-common-times"><span>5</span> 次</p>
								<p class="vip-common-validate">30天后生效</p>
							</div>
						</div>
						<a href="/wechat/vip/common" class="detail-btn">立即抢购</a>
					</li>
					
					<!--铜牌会员-->
					<li class="vip-item bronze-vip">
						<div class="vip-item-info">
							<div class="vip-bronze-price-wrapper">
								<p class="vip-bronze-price"><span>199</span>元</p>
								<p class="vip-bronze-title">铜牌会员</p>
							</div>
							<div class="vip-bronze-times-wrapper">
								<p class="vip-bronze-times"><span>5</span> 次</p>
								<p class="vip-bronze-validate">立即生效</p>
							</div>
						</div>
						<a href="/wechat/vip/bronze" class="detail-btn">立即抢购</a>
					</li>
					
					<!--银牌会员-->
					<li class="vip-item silver-vip">
						<div class="vip-item-info">
							<div class="vip-silver-price-wrapper">
								<p class="vip-silver-price"><span>499</span>元</p>
								<p class="vip-silver-title">银牌会员</p>
							</div>
							<div class="vip-silver-times-wrapper">
								<p class="vip-silver-times"><span>1</span> 件</p>
								<p class="vip-silver-validate">立即生效</p>
							</div>
						</div>
						<a href="/wechat/vip/silver" class="detail-btn">立即抢购</a>
					</li>
					
					<!--金牌会员-->
					<li class="vip-item golden-vip">
						<div class="vip-item-info">
							<div class="vip-golden-price-wrapper">
								<p class="vip-golden-price"><span>3-5</span>千元</p>
								<p class="vip-golden-title">金牌会员</p>
							</div>
							<div class="vip-golden-times-wrapper">
								<p class="vip-golden-times"><span>1</span> 件</p>
								<p class="vip-golden-validate">立即生效</p>
							</div>
						</div>
						<a href="/wechat/vip/golden" class="detail-btn">立即抢购</a>
					</li>
					
				</ul>
				
			</div>
					
		</div>
		
	</body>
</html>
