<!DOCTYPE html>
<html>
<head>
	{include file="common/meta" /}
</head>
<body>

<!--底部选项卡-->
{include file="common/menu" /}

<div class="zcb-wrapper">

	<div class="vip-wrapper">

		<ul class="vip-list">

			<!--荣耀会员-->
			<li class="vip-item common-vip">
				<div class="vip-item-info">
					<div class="vip-common-price-wrapper">
						<p class="vip-common-price"><span>9.9</span>元</p>
						<p class="vip-common-title">荣誉会员</p>
					</div>
					<div class="vip-common-times-wrapper">
						<p class="vip-common-times"><span>5</span> 次</p>
						<p class="vip-common-validate">30天后生效</p>
					</div>
				</div>
				<a href="/wechat/vip/common" class="detail-btn">立即抢购</a>
			</li>

			<!--白金会员-->
			<li class="vip-item silver-vip">
				<div class="vip-item-info">
					<div class="vip-silver-price-wrapper">
						<p class="vip-silver-price"><span>499</span>元</p>
						<p class="vip-silver-title">白金会员</p>
					</div>
					<div class="vip-silver-times-wrapper">
						<p class="vip-silver-times"><span>1</span> 件</p>
						<p class="vip-silver-validate">立即生效</p>
					</div>
				</div>
				<a href="/wechat/vip/silver" class="detail-btn">立即抢购</a>
			</li>

			<!--黑砖会员-->
			<li class="vip-item golden-vip">
				<div class="vip-item-info">
					<div class="vip-golden-price-wrapper">
						<p class="vip-golden-price"><span>3-5</span>千元</p>
						<p class="vip-golden-title">黑砖会员</p>
					</div>
					<div class="vip-golden-times-wrapper">
						<p class="vip-golden-times"><span>1</span> 件</p>
						<p class="vip-golden-validate">立即生效</p>
					</div>
				</div>
				<a href="/wechat/vip/golden" class="detail-btn">立即抢购</a>
			</li>

		</ul>

	</div>

</div>

</body>
</html>

