<!DOCTYPE html>
<html>
	<head>
		{include file="common/meta" /}
	</head>
	<body>
		
		<div class="zcb-wrapper">
			
			<!--顶部栏-->
			<div class="vip-header">
				<span class="vip-back"><a href="javascript: history.back();"><img src="/assets/img/wechat/vip/backW@2x.png"/></a></span>
			</div>
			
			<!--vip信息-->
			<div class="vip-info">
				<p class="vip-title">银牌会员</p>
				<p class="vip-price"><span>499</span>元</p>
				<div class="vip-rights">
					<div class="vip-validate">
						<p class="vip-validate-title">生效</p>
						<p class="vip-validate-num"><span>立即</span> </p>
					</div>
					<div class="vip-times">
						<p class="vip-times-title">案件</p>
						<p class="vip-times-num"><span>1</span> 件</p>
					</div>
				</div>
			</div>
			
			<!--享受服务-->
			<div class="vip-service">
				<p class="vip-service-title">享受服务</p>
				<ul class="vip-service-list">
					<li class="vip-service-item">
						<img src="/assets/img/wechat/vip/icon-contact@2x.png"/>同案件咨询无限制
					</li>
					<li class="vip-service-item">
						<img src="/assets/img/wechat/vip/icon-consult@2x.png"/>案件咨询优先解答
					</li>
					<li class="vip-service-item">
						<img src="/assets/img/wechat/vip/icon-calendar@2x.png"/>指派律师专案跟进
					</li>
					<li class="vip-service-item">
						<img src="/assets/img/wechat/vip/icon-book@2x.png"/>指导会员取证质证
					</li>
					<li class="vip-service-item">
						<img src="/assets/img/wechat/vip/icon-paper@2x.png"/>代发律函指导谈判
					</li>
					<li class="vip-service-item">
						<img src="/assets/img/wechat/vip/icon-envelope@2x.png"/>出具法律意见文书
					</li>
					<li class="vip-service-item">
						<img src="/assets/img/wechat/vip/icon-edit@2x.png"/>代写相关法律文书
					</li>
					<li class="vip-service-item">
						<img src="/assets/img/wechat/vip/icon-gavel@2x.png"/>指导仲裁诉讼庭审
					</li>
				</ul>
			</div>
			
			<!--开通会员-->
			<a href="/wechat/vip/buy/vid/3/uid/{$Think.session.user_id}" class="buy-vip">开通会员</a>
			
		</div>
		
	</body>
</html>
