body{
	background: rgb(243, 243, 243);
}
.zcb-wrapper{
	position: relative;
}

/*首页轮播图*/
.home-carousel{
	width: 100%;
	height: 4.266rem;
}
.swiper-slide img{
	width: 100%;
	height: 100%;
}

/*首页导航栏*/
.home-nav{
	display: flex;
	display: -webkit-flex;
	width: 9.466rem;
	height: 2.186rem;
	background-color: #ffffff;
	box-shadow: 0 0.066rem 0.16rem 0 
		rgba(131, 178, 222, 0.41);
	border-radius: 0.2rem;
	margin: 0 auto;
	position: absolute;
	top: 4rem;
	left: 0; right: 0;
	z-index: 99;
	box-sizing: border-box;
	padding: 0 0.04rem;
}
.home-nav-item{
	flex: 1;
	text-align: center;
}
.nav-zcb-icon, .nav-vip-icon{
	display: block;
	width: 1.146rem;
	height: 1.146rem;
	margin: 0 auto;
	margin-top: 0.32rem;
}
.nav-zcb-title, .nav-vip-title{
	font-size: 0.32rem;
	line-height: 0.32rem;
	color: rgb(51, 51, 51);
	margin-top: 0.16rem;
}

/*荣誉会员*/
.home-common-vip{
	position: relative;
	margin: 0 auto;
	margin-top: 2.24rem;
	width: 9.466rem;
	height: 5.84rem;
	background-color: #ffffff;
	box-shadow: 0 0.066rem 0.16rem 0 
		rgba(131, 178, 222, 0.41);
	border-radius: 0.2rem;
	text-align: center;
}
.common-vip-title{
	position: relative;
	width: 100%;
	height: 1.226rem;
	font-size: 0.453rem;
	color: rgb(51, 51, 51);
	border-bottom: 0.013rem dashed #f3f3f3;;
}
.common-vip-title p{
	text-align: center;
	line-height: 1.226rem;
}
.common-vip-title-info{
	background-color: #fed1cb;
	color: rgb(254, 70, 47);
	position: absolute;
	top: 50%;
	margin-top: -0.226rem;
	left: 50%;
	margin-left: 1.066rem;
	width: 1.413rem;
	height: 0.453rem;
	line-height: 0.453rem;
	border-radius: 0.026rem;
	font-size: 0.293rem;
}
.common-vip-price{
	font-size: 0.8rem;
	line-height: 0.96rem;
	color: rgb(38,139,234);
	margin-top: 0.533rem;
}
.common-vip-price span{
	font-size: 0.96rem;
}
.common-vip-price-title, .common-vip-effective{
	font-size: 0.32rem;
	line-height: 0.32rem;
	color: rgb(153,153,153);
	margin-top: 0.346rem;
}
.common-vip-effective{
	color: rgb(102, 102, 102);
	margin-top: 0.24rem;
}
.buy-btn{
	display: block;
	position: absolute;
	bottom: 0.533rem;
	left: 0;right: 0;
	width: 5.146rem;
	height: 0.986rem;
	line-height: 0.986rem;
	text-align: center;
	font-size: 0.32rem;
	letter-spacing: 0.026rem;
	color: #FFFFFF;
	background-image: linear-gradient(90deg, 
		#268bea 0%, 
		#81c1fc 100%), 
	linear-gradient(
		#268bea, 
		#268bea);
	background-blend-mode: normal, 
		normal;
	border-radius: 0.493rem;
	margin: 0 auto;
}

/*包年荣誉会员*/
.home-honor-vip{
	width: 9.466rem;
	height: 2.666rem;
	margin: 0 auto;
	margin-top: 0.266rem;
	background-color: #ffffff;
	box-shadow: 0 0.066rem 0.16rem 0 
		rgba(131, 178, 222, 0.41);
	border-radius: 0.2rem;
}
.honor-vip-title{
	position: relative;
	width: 100%;
	height: 0.933rem;
	border-bottom: 0.013rem solid #cfcfcf;
	color: rgb(51, 51, 51);
	font-size: 0.373rem;
}
.honor-vip-title p{
	padding-left: 0.4rem;
	line-height: 0.933rem;
}
.honor-vip-title-info{
	background-color: #fed1cb;
	color: rgb(254, 70, 47);
	position: absolute;
	top: 50%;
	margin-top: -0.2rem;
	margin-left: 2.826rem;
	width: 0.826rem;
	height: 0.4rem;
	line-height: 0.4rem;
	border-radius: 0.026rem;
	font-size: 0.293rem;
	text-align: center;
}
.honor-vip-price-wrapper{
	float: left;
	margin-left: 0.4rem;
}
.honor-vip-days-wrapper{
	float: right;
	margin-right: 0.4rem;
	text-align: center;
}
.honor-vip-price-num, .honor-vip-days-num{
	line-height: 1.12rem;
	font-size: 0.32rem;
	color: #333333;
}
.honor-vip-price-num{
	font-size: 0.64rem;
	color: #268bea;
}
.honor-vip-price-title, .honor-vip-days-title{
	font-size: 0.293rem;
	color: #999999;
	line-height: 0.293rem;
}
.honor-vip-free-video{
	position: absolute;
	right: 0;
	top: 0;
	margin-right: 0.4rem;
	font-size: 0.32rem;
}
.honor-vip-free-video a{
	color: rgb(254, 70, 47);
}


/*免费VIP视频*/
.free-video-vip{
	width: 9.466rem;
	height: 1.866rem;
	position: relative;
	margin: 0 auto;
	margin-top: 0.266rem;
	padding-bottom: 1.6rem;
}
.free-video-BG{
	width: 100%;
	height: 100%;
}
.free-video-btn{
	position: absolute;
	right: 0.64rem;
	top: 0.266rem;
	display: block;
	width: 1.56rem;
	height: 1.333rem;
}
.free-video-btn img{
	width: 1.56rem;
	height: 1.333rem;
}


.zcb-footer-home .active{
	background: url(/assets/img/wechat/icon-home-active.png) !important;
	background-size: 100% 100% !important;
}

/*送福利按钮*/
.welfare-btn{
	position: fixed;
	top: 11.333rem;
	right: 0.133rem;
	width: 1.44rem;
	height: 1.44rem;
	background: none;
	z-index: 99;
}
.welfare-btn img{
	width: 1.44rem;
	height: 1.44rem;
}



