
<!DOCTYPE html>
<html lang="en" class="js cssanimations">
<link rel="alternate icon" type="/favicon.png" href="/favicon.png">
    <head>
		{include file="common/meta" /}
	</head>
<body>
<div id="app" v-cloak>
	{include file="common/header" /}
	<!-- 中间开始 -->
<div class="info-bg">
	<img src="__CDN__/assets/img/index/banner.png" class="am-img-responsive auto-margin" alt="">
</div>
<div class="x-vip x-page am-g-fixed am-u-sm-centered" style="padding-left:0px;padding-right:0px;">
	<div class="am-g">
	   <div class="am-u-sm-12" style="padding-left:0px;padding-right:0px;">
	     <div class="vip-info am-text-center">

	     </div>
	   </div>
	</div>
	<div class="am-g vip-service">
	    <div class="am-u-sm-12 am-text-center">
	       <h2 class="service-title am-margin-top-lg">会员六大保障服务</h2>
	       <ul class="am-g am-avg-md-3 u-list six" id="member_ul">
		      <li class="am-u-md-4 am-u-lg-4">
			      <div>
			        <img src="__CDN__/assets/img/index/icon_1.png">
				  	<div class="title">劳动法律咨询</div>
				  	<div class="sub-title">发生劳动纠纷，不知如何处理？<br>职场保为会员提供专业全面的<br>劳动法律咨询服务</div>
			      </div>
			  </li>
			  <li class="am-u-md-4 am-u-lg-4">
			      <div>
			        <img src="__CDN__/assets/img/index/icon_2.png">
				  	<div class="title">辅助收集证据</div>
				  	<div class="sub-title">证据很重要却不懂如何收集？<br>职场保全程协助用户<br>进行证据收集</div>
			      </div>
			  </li>
			  <li class="am-u-md-4 am-u-lg-4">
			      <div>
			        <img src="__CDN__/assets/img/index/icon_3.png">
				  	<div class="title">双方协调和解</div>
				  	<div class="sub-title">发生纠纷后，想和解<br>却不会谈，谈不拢？职场保代理<br>用户与公司进行协调和解</div>
			      </div>
			  </li>
			  <li class="am-u-md-4 am-u-lg-4">
			      <div>
			        <img src=__CDN__/assets/img/index/icon_4.png">
				  	<div class="title">代发律师信函</div>
				  	<div class="sub-title">想委托律师发律师函<br>无奈费用太高不值得？<br>一年199，职场保代发律师信函</div>
			      </div>
			  </li>
			  <li class="am-u-md-4 am-u-lg-4">
			      <div>
			        <img src="__CDN__/assets/img/index/icon_5.png">
				  	<div class="title">代理案件开庭</div>
				  	<div class="sub-title">专业律师收费太高<br>自己耗不起时间？<br>超低收费，职场保协助代理案件开庭</div>
			      </div>
			  </li>
			  <li class="am-u-md-4 am-u-lg-4">
			      <div>
			        <img src="__CDN__/assets/img/index/icon_6.png">
				  	<div class="title">推荐入职机会</div>
				  	<div class="sub-title">新入职场，好工作难寻？<br>三十万企业<br>为职场保会员提供就业岗位</div>
			      </div>
			  </li>
		   </ul>
	    </div>
	</div>
</div>
<div class="vipp"><img src="__CDN__/assets/img/index/banner.gif"></div>
	{include file="common/footer" /}
